<div id="request-form-container">
  <div class="flex-row">
    <div id="create-request-mode-btn" class="active noto request-button request-button-wrapper flex-row">
      📝 Urlaubsantrag stellen
    </div>
    <button id="approve-request-mode-btn" class="inactive noto request-button flex-row">
      ✅❌ Urlaubsantrag genehmigen
      <label for="request-year">Jahr:</label>
      <input type="number" id="request-year" value="2025" min="2000" max="2099" />
    </button>
  </div>

  <div id="request-enter-container" class="active">
    <div class="request-form-col request-form-dates">
      <div class="flex-row">
        <span id="requester-emoji" class="noto">⊖</span>
        <div class="requester-select-wrapper">
          Antragsteller: <br />
          <select id="requester-select" class="'noto"></select>
        </div>
      </div>
      <div class="layout-tabulator text-line-spacer"></div>
      <div class="employee-flex-row future-feature" aria-label="Urlaubsanspruch und Überstunden">
        <span>Urlaubsanspruch</span>
        <span id="request-vacation-left">xx</span> /
        <span id="request-vacation-total">xx</span>
        <br />
        <span>Überstunden</span>
        <span id="request-overtime">xx</span>
        <span>[Tage]</span>
      </div>
      <br />
      <div class="layout-tabulator text-line-spacer"></div>
      Antrag erstellt am: <span id="request-id">xx.xx.xxxx. xx.xx</span>
    </div>

    <div class="request-form-col">
      <div class="flex-row">
        <span id="vacation-type-emoji" class="noto">⊖</span>
        <div> <span class="step1">Art Abwesentheit:</span> <br>
          <span class="request-date" class="flex-row layout-space-between">
            <select id="request-type-select" class="noto text-large">
              <option value="none" selected disabled>Art wählen</option>
              <option value="vac" data-emoji="🏖️" data-label="Urlaub">🏖️ Urlaub</option>
              <option value="sik" data-emoji="💉" data-label="Genesung">💉 Genesung</option>
              <option value="spe" data-emoji="🎁" data-label="Sonderurlaub">🎁 Sonderurlaub</option>
              <option value="otc" data-emoji="⚖️" data-label="Ausgleichstag">⚖️ Ausgleichstag</option>
              <option value="but" data-emoji="🚕" data-label="Geschäftreise">🚕 Geschäftreise</option>
              <option value="par" data-emoji="🧸" data-label="Elternzeit">🧸 Elternzeit</option>
              <option value="hom" data-emoji="🏠" data-label="Home-Office">🏠 Home-Office</option>
              <option value="unp" data-emoji="💸" data-label="unbezahlt">💸 unbezahlt</option>
            </select>
          </span>
        </div>
      </div>

      <div class="layout-tabulator text-line-spacer"></div>

      <span class="step1">Zeitraum:</span>

      <div class="request-date-picker flex-row">
        von:
        <button id="pick-request-start" class="noto" title="Startdatum wählen">
          📅
        </button>
        <input type="date" id="request-start-picker" class="visually-hidden-date-picker" />
        <span class="step1" id="request-preview-start">--.--</span>
      </div>

      <br />

      <div class="request-date-picker flex-row">
        bis
        <button id="pick-request-end" class="noto" title="Enddatum wählen">
          📅
        </button>
        <input type="date" id="request-end-picker" class="visually-hidden-date-picker" />
        <span class="step1" id="request-preview-end">--.--</span>
      </div>

      <div class="layout-tabulator text-line-spacer"></div>

      <div class="preview-label flex-row" id="requestPreview">
        <span>Dauer: </span>
        <span class="step1" id="request-durration">?</span>
        <span id="request-duration-unit">Tage</span>
      </div>
      <div id="halfDayCheckbox">
        <input type="checkbox" id="request-halfDay" title="halber Tag" disabled="true">
        <span class="noto">½</span> halbtag
      </div>

    </div>

    <div class="request-form-col">
      <span class="step2">
        zusätzl. Info <strong>Antragsteller</strong>: <br /><br />
        <span class="noto">💡</span><span class='hint'>nur falls relevant </span><br>
        <textarea id="multiline-input" name="multiline-input" rows="3" cols="30"
          placeholder="Nachricht hier eingeben...">
        </textarea>
      </span>
    </div>

    <div class="request-form-warn noto">
      ⚠️ Warnungen ⚠️
      <ul></ul>
    </div>
  </div>

  <!--   T A B L E -->

  <div id="decision" class="inactive">
    <div id="decision-table-container">
      <table id="decision-table">
        <thead>
          <tr>
            <th>
              <select class="noto" id="status-filter">
                <option value="all" data-tooltip="Alle">jeder Status</option>
                <option class="noto" value="pending" data-tooltip="Ausstehend">
                  ⏳ austehend
                </option>
                <option class="noto" value="rejected" data-tooltip="Abgelehnt">
                  ❌ abgelehnt
                </option>
                <option class="noto" value="approved" data-tooltip="Genehmigt">
                  ✅ genehmigt
                </option>
              </select>
            </th>
            <th>
              <select class="noto" id="requester-filter">
                <option value="all">alle Mitarbeiter</option>
                <option value="01">Dr. Bob</option>
                <option value="02">Harald</option>
                <option value="03">Jenny</option>
              </select>
            </th>

            <th>
              <select class="noto" id="decision-type-select">
                <option value="all">alle Arten</option>
                <option class="noto" value="vac">🏖️ Urlaub (frei)</option>
                <option class="noto" value="spe">🎁 Sonderurlaub (frei)</option>
                <option class="noto" value="otc">
                  ⚖️ Ausgleichstag (frei)
                </option>
                <option class="noto" value="but">
                  🚕 Geschäftreise (dienst)
                </option>
                <option class="noto" value="hom">
                  🏠 Home Office (dienst)
                </option>
                <option class="noto" value="sho">
                  📐 Berufsschule (dienst)
                </option>
                <option class="noto" value="sik">
                  💉 Genesung (ungeplant)
                </option>
                <option class="noto" value="par">
                  🧸 Elternzeit (ungeplant)
                </option>
                <option class="noto" value="unp">
                  💸 unbezahlt (ungeplant)
                </option>
              </select>
            </th>

            <th>
              <select class="noto" id="month-filter">
                <option value="all">ganzes Jahr</option>
                <option value="01">01 - Januar</option>
                <option value="02">02 - Februar</option>
                <option value="03">03 - März</option>
                <option value="04">04 - April</option>
                <option value="05">05 - Mai</option>
                <option value="06">06 - Juni</option>
                <option value="07">07 - Juli</option>
                <option value="08">08 - August</option>
                <option value="09">09 - September</option>
                <option value="10">10 - Oktober</option>
                <option value="11">11 - November</option>
                <option value="12">12 - Dezember</option>
              </select>
            </th>

            <th>
              Dauer<br />
              <!-- <button id="decisionDurationBtn">↥ Aufsteigend</button> -->
            </th>
            <th>
              Kommentar <br />
              Antragsteller
            </th>

            <th>
              Kommentar <br />
              Genemiger
            </th>

            <th>
              Warnungen <br />
              <!--            <select class="noto" id="warning-filter">
              <option value="all" data-tooltip="Alle">📝 alle</option>
              <option value="urgent" data-tooltip="Eilg">🚨 eilig</option>
              <option value="single" data-tooltip="Regelverstoß">⚠️ einfach</option>
              <option value="multi" data-tooltip="Regelverstöße">🛑 mehrfach</option>
            </select>
          -->
            </th>
          </tr>
        </thead>

        <tbody class="layout-bo-scroll">
          <tr>
            <td colspan="6" class="text-center">
              No pending requests to display.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--
  <div class="flex-column">
    <div>
        ⚠️ Warnungen: <br>
        <textarea id="selected-request-warnings" placeholder="Show warnings and comments here if a row is selected"></textarea>
    </div>

    <div>
        Kommentar Antragsteller: <br>
        <textarea id="selected-requester-comment" placeholder="Show warnings and comments here if a row is selected"></textarea>
    </div>

    <div>
        Kommentar Genehmiger:<br>
        <textarea id="selected-approver-comments" placeholder="Show warnings and comments here if a row is selected"></textarea>
    </div>
  </div>  
  -->
  </div>
</div>