<div style="display:flex; flex-direction: row;">
    <div class="task-container" id="role-form-container">role form container</div>
    <div class="post-it-note">
        <h3 class="noto"> 📌 Aufgaben & Rollen</h3>
        <p>Hier werden Aufgaben und Rollen definiert, die für den reibungslosen Ablauf benötigt werden (also kein Kaffee-Küchen-Dienst). In dem Mitarbeiter-Formular werden diese Aufgaben auf die Mitarbeiter verteilt, und im Regeln-Formular werden Bedingungen festgelegt, wann und wie die Aufgaben mit Mitarbeitern zu besetzen sind.</p>
        <p>Jeder Aufgabe ist eine Farbe zugeordnet, diese Farben werden im Kalender und bei Mitarbeiter-Emojis verwendet.</p>
    </div>
</div>