.theme-pastel {
    --role-0-color: #f5f5f5;
    --role-1-color: #b3cfff;
    --role-2-color: #9bbdff;
    --role-3-color: #c9b6f4;
    --role-4-color: #b6edc8;
    --role-5-color: #ffe7a3;
    --role-6-color: #a2d5a2;
    --role-7-color: #f8b8d2;
    --role-8-color: #f9b3a7;
    --role-9-color: #e29a9a;
    --role-10-color: #cfcfcf;
    --role-11-color: #b0a7e2;
    --role-12-color: #3a3a3a;
    --role-13-color: #ffd1a1;
    --button-active-color: #a1d2ff;
    --button-inactive-color: #dbefff;
    --button-hover-color: #7ebeff;
    --list-item-color: #fdf1e2;
    --office-closed-color: #f4a8a8;
  }
  