
<div id="calendar-navigation2">
  <div id ="help" class="hidden"> HELP</div>  
  <div class="calendar-nav">
    <div class="state-image stateIcon" id="state-image"></div>
    <div class="month-controls">
      <button class="mybutton" id="prev-month"></button>
      <span class="month-label" id="calendar-month"></span>
      <button class="mybutton" id="next-month"></button>
    </div>
    <button class="toggle-attendance" id="toggle-attendance"></button>
    <div class="year-controls">
      <button class="mybutton" id="prev-year"></button>
      <span class="year-label" id="calendar-year"></span>
      <button class="mybutton" id="next-year"></button>
    </div>
    <div class="calendar-spacing"> </div>
  </div>
</div>

<div id="calendar-month-sheet" class="calendar-container">  
  calendar month table
  <div id="calendar-feedback" class="fade-feedback"></div>
</div>
