<div class="employee-form-container" id="employee-form-container">
  <!-- Privacy and Warning Section -->

  <div class="privacy-collapsible" id="privacy-warning-collapsible" aria-expanded="true" data-collapse="warning">


    <legend class="legend-with-button">
      <button id="privacy-warn-chev" class="resize-button" aria-expanded="false"
        aria-controls="privacy-warning-content"></button>
      <div class="privacy-rotated-header">
        <p id="privacy-header">⚠️ Datenschutzhinweis</p>
      </div>
    </legend>
    <!-- FLEX WRAPPER (new!) -->
    <div class="privacy-flexbox">
      <div class="privacy-warning-content" id="privacy-warning-content">
        <p>Beachten Sie bitte: Diese Anwendung enthält sensible Daten.</p>
        <p>Nur autorisierte Benutzer dürfen auf diese Daten zugreifen.</p>
        <p class="noto">❗<b>Wichtig:</b> Diese Anwendung speichert Daten lokal auf Ihrem Rechner, ähnlich wie
          Excel-Tabellen.
          Wir übernehmen keine Verantwortung für die Sicherheit Ihrer Daten.</p>
        <p class="noto">💡 Empfehlung: Verwenden Sie <b>Spitznamen oder verschlüsselte Namen</b>,
          statt echte sensible Daten einzugeben, um Ihre Privatsphäre zu schützen.</p>
      </div>
    </div>

  </div>

  <!-- Employee Selection -->
  <div id="employee-list-column">
    <h3>Mitarbeiter Auswahl</h3>
    <div class="employee-item" id="employeeForm-new-btn">
      <span class="employee-item">
        <span class="employee-emoji noto">⊖</span>
        <span> ⇨ neuer Mitarbeiter </span>
      </span>
    </div>
    <ul id="employee-list" class="employee-list"></ul>
  </div>
  <!-- Employee Details -->
  <div id="employee-form-details">
    <!-- Left Section -->
    <div id="employee-details-left">
      <h3>Persönlich:</h3>
      <div class="employee-flex-row">
        <button id="employee-emoji-picker-btn" class="emoji-picker-btn noto" title="Emoji ändern">
          ⊖
        </button>
        <input type="text" id="employee-name" class="layout-column-small" placeholder="Name eingeben" />
      </div>
      <br>
      <div>
        <div class="employee-flex-row">
          <span>verfügbar :</span>
          <input type="number" class="employee-details-number" id="employee-form-vacation-left" step="1" value="0" />
          <span class="disabled-label">[Tage]</span>
        </div>
        <div class="employee-flex-row">
          <span>Jahres-Urlaub: </span>
          <input type="number" class="employee-details-number" id="employee-form-vacation-total" step="1" value="30" />
          <span class="disabled-label">[Tage]</span>
        </div>
        <div class="employee-flex-row">
          <span>genommen:</span>
          <input type="number" class="employee-details-number" id="employee-form-vacation-used" step="0.5" value="0" />
          <span class="disabled-label">[Tage]</span>
        </div>
        <div class="employee-flex-row">
          <span>Überstunden</span>
          <input type="number" class="employee-details-number" id="employee-form-overtime-input" value="0" step="0.5" />
          <span class="disabled-label">[Tage]</span>
        </div>

        <div>
          <h4>Beschäftigungs-Zeitraum:</h4>
          <div class="employee-flex-row">
            <button id="pick-employee-start" class="noto employee-date-picker" title="Startdatum wählen">📅 von:
            </button>
            <input type="date" id="employee-form-start-work"
              class="employee-details-date visually-hidden-date-picker" />
            <span id="employee-preview-start">--.--.--</span>
          </div>
          <div class="employee-flex-row">
            <button id="pick-employee-end" class="noto employee-date-picker" title="Enddatum wählen">📅 bis:</button>
            <input type="date" id="employee-form-end-work" class="employee-details-date visually-hidden-date-picker" />
            <span id="employee-preview-end">--.--.--</span>
          </div>
          <div class="employee-preview flex-row" id="employee-date-preview">
            <span id="employee-duration" class="hidden">?</span>
            <span class="hidden">Tage</span>
          </div>
        </div>
        <div>
          <h3><i class="hint">optional</i><strong> Geburtstag</strong></h3>
          <div class="hint flex-row">
            <p class="noto">💡</p> Nur als Erinnerung im Kalender – keine weitere Auswirkung
          </div>
          <br />
          <div class="flex-row">
            <input type="number" min="1" max="31" step="1" class="employee-details-number"
              id="employee-form-birthday-day" />

            <input type="number" min="1" max="12" step="1" class="employee-details-number"
              id="employee-form-birthday-month" />
            <span id="employee-form-birthday-month-label" class="month-label"></span>

            <button type="button" id="employee-birthday-reset" class="reset-btn noto"
              title="Geburtstag löschen">🗑️</button>
          </div>
          <div class="flex-row employe-id-style">
            Mitarbeiter id:
            <div id="employee-id"></div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <!-- Middle Section -->
      <div id="employee-ratio">

        <h3><span class="noto">🧩</span>Aufgaben</h3>


        <div class="layout-container-light">
          Haupt-Aufgabe
          <div class="flex-row double-row">
            <span id="employee-details-icon-main" class="employee-details-icon noto big">⊖</span>
            <select id="employee-details-role-main" class="noto"></select>
            <div class="slider-container hidden">
              <span class="slider-value" id="role1-value">Präferenz 100%</span>
              <input type="range" id="employee-form-role1" min="0" max="10" value="7" step="1" />
            </div>
          </div>
        </div>

        <div class="layout-container-medium">
          Neben-Aufgabe
          <div class="flex-row double-row">
            <span id="employee-details-icon-secondary" class="employee-details-icon noto big">⊖</span>
            <select id="employee-details-role-secondary" class="noto"></select>
            <div class="slider-container hidden">
              <span class="slider-value" id="role2-value">Präferenz 0%</span>
              <input type="range" id="employee-form-role2" min="0" max="10" value="2" step="1" />
            </div>
          </div>
        </div>

        <div class="layout-container-dark">
          Notfall-Aufgabe
          <div class="flex-row double-row">
            <span id="employee-details-icon-trinary" class="employee-details-icon noto big">⊖</span>
            <select id="employee-details-role-trinary" class="noto"></select>
            <div class="slider-container hidden ">
              <span class="slider-value" id="role3-value">Präferenz 0%</span>
              <input type="range" id="employee-form-role3" min="0" max="10" value="1" step="1" />
            </div>
          </div>
        </div>

        <p class="hint">
          <span class="noto">💡</span> Die Aufteilung zeigt nur Ihre
          <strong>Rollen-Präferenzen</strong> an. Die tatsächliche
          Einteilung richtet sich später nach den Einsatzregeln (z. B. 1
          Koch & 1 Kellner pro Schicht) und der Verfügbarkeit.
        </p>
      </div>
    </div>
    <!-- Right Section -->
    <div id="employee-details-right">
      <h4 id="employee-form-shifts-title">
        Regel- <br />
        Arbeitszeit
      </h4>
      <table id="employee-form-shifts-table">
        <tbody>
          <tr class="employee-form-regular-row">
            <td><b>Mo: </b></td>
            <td><select id="employee-form-shift-mon"></select></td>
          </tr>
          <tr class="employee-form-regular-row">
            <td><b>Di: </b></td>
            <td><select id="employee-form-shift-tue"></select></td>
          </tr>
          <tr class="employee-form-regular-row">
            <td><b>Mi: </b></td>
            <td><select id="employee-form-shift-wed"></select></td>
          </tr>
          <tr class="employee-form-regular-row">
            <td><b>Do: </b></td>
            <td><select id="employee-form-shift-thu"></select></td>
          </tr>
          <tr class="employee-form-regular-row">
            <td><b>Fr: </b></td>
            <td><select id="employee-form-shift-fri"></select></td>
          </tr>
          <tr class="employee-form-weekend-row">
            <td><b>Sa: </b></td>
            <td><select id="employee-form-shift-sat"></select></td>
          </tr>
          <tr class="employee-form-closed-row">
            <td><b>So: </b></td>
            <td><select id="employee-form-shift-sun"></select></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>