.admin-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  max-width: 80%;
  margin: 0 auto;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: var(--accent-hover);
  color: var(--text-color);
}

button:active {
  background-color: #ddd;
}

.coffee-button {
  width: 120px;
  height: 120px;
  background-image: url('../../../assets/png/BuyMeACoffee.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}