<div id="tool-conatainer">
  <h1>Admin Tool</h1>
    <div class="admin-buttons">
        <button id="excel-import">📥 Excel Import</button>
        <button id="excel-export">📤 Excel Export</button>
        <button id="customization">🎨 Customization</button>
        <button id="clear-cache" class="danger-button">🧼 Clear Data Path Cache
          <small class="warning-note">⚠️ Use only if data path cache is corrupted or testing recovery logic.</small>
        </button>
        <span>
          <button id="buy-coffee" class="coffee-button"></button>
          <br>
          https://buymeacoffee.com/gurky73
        </span>
      </div>
  <script src="admin-script.js"></script>
</div>
