#calendar-form-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 75%;
    margin: 20px auto;
    padding: 20px;
    background-color: hotpink; /* Debugging */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.state-flag-icon {
    width: 250px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.calendar-form-state-section {
    flex: 1;
    flex-direction: row;
    max-height: 60px;;
    background-color: orange; /* Debugging */
    padding: 10px;
    border-radius: 5px;
    display: flex;
    gap: 15px;
}
.calendar-form-year-section {
    flex: 1;
    flex-direction: row;
    max-height: 40px;;
    background-color:cornflowerblue; /* Debugging */
    padding: 10px;
    border-radius: 5px;
    display: flex;
    gap: 15px;
}

.calendar-form-scrollbox {
    max-height: 160px; 
    overflow: hidden;
    overflow-y: auto; 
    text-align: left;
    padding: 10px;
    background:antiquewhite;
    border: 1px solid darkslategray;
    border-radius: 5px;
}

.calendar-form-left-column {
    background-color: lightblue; /* Debugging */
}

.calendar-form-center-column {
    background-color: limetgreen; /* Debugging */
}

.calendar-form-right-column {
    background-color: tomato; /* Debugging */
}

img#calendar-form-state-flag {
    width: 100%;
    max-width: 50px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}
